<!DOCTYPE html>
<html>
<head>
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333367;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #238845;
}
</style>
</head>
<body>

<ul>
<li><a href="/changeprofilephoto">change picture</a></li>
<li><a href="/logout">logout</a></li>
  <li><a href="/contact">Contact Us</a></li>
  <li><a href="/news">News</a></li>
    <li><a href="/user">Home</a></li>
</ul>
<h1>Welcome {{user.username}}</h1>
<img src="/media/profilepictures/{{user.username}}.jpg" style="width: 100px ; height: 100px ;">


</body>
</html>

